{% extends "admin/layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <section class="content">
    <div class="container-fluid px-4">
      <h1 class="mt-4">Dashboard</h1>

      <div class="row mt-4">

        <div class="col-md-4">
          <div class="card bg-primary text-white mb-4 shadow">
            <div class="card-body fs-5">👥 کاربران</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <span class="fs-4 fw-bold">{{ total_users }}</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card bg-success text-white mb-4 shadow">
            <div class="card-body fs-5">🧾 سفارش‌ها</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <span class="fs-4 fw-bold">{{ total_orders }}</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card bg-warning text-dark mb-4 shadow">
            <div class="card-body fs-5">💊 داروها</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <span class="fs-4 fw-bold">{{ total_drugs }}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}
